html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepen {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr 1fr auto;
}

.codepen >*{
  border:1px solid black;
}

.code {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.editor{
  border:1px solid black;
  background: #1A2B33;
}

.editor__header {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  justify-items: start;


}
.editor__header>* {
  margin:5px;
}

.editor__header {
  background: #162731;
  color:white;
}

.editor__header button:nth-child(3){
  justify-self: end;

}


.editor__code {
  display: grid;
  grid-template-columns: auto 1fr;

  color:#808080;

}

.editor__input {
  color:#808080;
  background: #1A2B33;
  align-self: stretch;
  justify-content:stretch;
  border:none;
  height: 100%;
}

.pen {
  display: grid;
  grid-template-columns: 1fr auto auto auto auto auto;
  align-items: center;
  grid-gap: 10px;
  background-color: black;
  color:white;
  border-bottom: 6px solid #272727;
  padding:10px;

}


.preview {
  display: grid;
  justify-items: stretch;
  align-items: stretch;
}

button {
  background:transparent;
  color: white;
  border: none;
  background: #343436;
  padding:10px;
  border-radius: 7px;

}

.settings {
  background: black;
}

.settings button {
  padding:4px;
}
